@model IEnumerable<SmartVendas.Application.ViewModels.CaixaViewModel>

@{
    ViewBag.Title = "Relatório de Caixa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="table" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Abertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entradas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saidas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Abertura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fechamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaldoInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entradas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saidas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td style="text-align: center">
                    <a href="@Url.Action("ImprimirRelatorioFechamento", "Caixa", new { caixaId = item.CaixaId })" class="btn btn-primary btn-xs"><i class="fa fa-print"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section styles{
    <link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}


@section scripts{

    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#table').dataTable({
                "responsive": true,
                "language": {
                    "paginate": {
                        "previous": '<i class="fa fa-angle-left"></i>',
                        "next": '<i class="fa fa-angle-right"></i>'
                    },
                    "lengthMenu": "Exibindo _MENU_ registros por página",
                    "zeroRecords": "Não encontrado - desculpe",
                    "info": "Exibindo pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros disponíveis",
                    "infoFiltered": "(filtrados de um total de _MAX_ registros)",
                    "search": "Filtrar: "
                }
            });
        })
    </script>

}


