@model SmartVendas.Application.ViewModels.UsuarioViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SmartVendas | @ViewBag.Title </title>

    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/Content/vendors/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet" />


    </head>
<body class="login">

    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("Index", "Home", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                    {
                        @Html.AntiForgeryToken()

                        <p>
                            <img src="~/Images/logo.png" style="width: 25%" />
                        </p>

                        <h1>Acesso</h1>
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div>
                            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", @placeholder = "Username"})
                            @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "text-danger"})
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.Senha, new {@class = "form-control", @placeholder = "Senha"})
                        </div>
                        <div>
                            <button class="btn btn-default submit">Log in</button>
                            <a class="reset_pass" href="#">Esqueci minha senha</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">

                            <div class="clearfix"></div>
                            <br/>

                            <div>
                                <p>©2016 Desenvolvido por <a href="#">RT Soluções</a> & <a href="#">ViewHitz</a>
                                </p>
                            </div>
                        </div>
                    }
                </section>
            </div>

        </div>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>

